
a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.container {
	width: 100%;
	max-width: 1170px;
	min-width: 430px;
}

/*Навигационная панель*/
.navbar li:hover {
	background-color: #e7e7e7
}

.logo {			
	background-color: none;
	font-family: 'Special Elite', cursive;
	color: #222;
	text-align: center;
	padding:9px;
	font-size: 16px;
}

.logo:hover {
	color: #black;
}

#font-sans a {
	font-family: 'Open Sans', sans-serif;
	color: #1428a0;
	font-weight: 700;
}

#font-droid a {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: rgba(192,26,50,1);
	font-weight: 700;
}

li button.btn-info {
	margin-top: 5px;
	font-size: 12px;
}

@media (min-width: 768px) {
	.navbar-brand{
		font-size: 16px;
	}
}

.top-to-bottom {
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-image: 
	-webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#e7e7e7)) 1 100%;
	-webkit-border-image: 
	-webkit-linear-gradient(#999, #e7e7e7) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(#999, #e7e7e7) 1 100%;    
	-o-border-image:
	-o-linear-gradient(#999, #e7e7e7)  1 100%;
	border-image:
	linear-gradient(to bottom, #999, #e7e7e7) 1 100%;
}

#mail {
	margin-bottom: 5px;
}
/* конец болка навигационной панели*/


.panel-primary {
	max-width: 405px;
	margin: auto;
	margin-bottom: 20px;
}


/*Блок контактной информации*/
.btn-success {

}

.panel-title {
	font-size: 16px;
}

.btn-sm {
	font-size: 16px;
	height: 37px;
	margin-top: 3px;
}

.panel-body p {
	margin-bottom: 0;
}

.email {
	font-size: 16px;
}

.col-md-4 button[onClick*="tel"] {
	width: 165px;
	text-align: right;
}

.navbar button[onClick*="tel"] {
	width: 127.713px;
	text-align: right;
}

button[onClick*="://"] {
	width: 44px;
}

.small-btn-group {
	display: inline-block;
}
/*Конец болка контактной информации*/

/*Блок контентов*/
.panel-info p {
	text-align: justify;
	font-size: 15px;
	text-indent: 1.5em;
}

.panel-body {
	text-align: center;

}

.above-table {
	font-size: 16px;
	text-align: left;
}
/*Конец блока контента*/

/*Блок ссылок*/
.col-md-2 {
	padding-left: 6px;
	padding-right: 6px;
}

.panel-body h2 {
	margin-top: 10px;
}


button[onClick*="ricoh"], button[onClick*="sharp"] {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: rgba(192,26,50,1);
}

button[onClick*="samsung"]:hover, button[onClick*="hp"]:hover {
	font-family: 'Open Sans', sans-serif;
	color: #1428a0;
}

button[onClick*="ricoh"]:hover, button[onClick*="sharp"]:hover {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: rgba(192,26,50,1);
}

button[onClick*="samsung"], button[onClick*="hp"] {
	font-family: 'Open Sans', sans-serif;
	color: #1428a0;
}

.btn-default {
	margin-bottom: 3px;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	max-width: 360px;
	background: #ddd linear-gradient(#eee, #ccc);
}

/*Конец блока ссылок*/

/*Подвал*/
#scrolltop-container {
	position:relative;
	width:100%;
	padding:0;
	margin:0;
	border:0;
	height:27px;
}

#scrolltop-container.narrow { background:#fff !important; }

#scrolltop {
	display:block;
	background: url('../images/scrolltop.png') 1px 1px no-repeat;
	width:32px;
	height:32px;
	position:absolute;
	top:-25px;
	left:50%;
	margin-left:-22px !important;
	text-indent:-300px;
	overflow:hidden;
	border-radius: 50%;
}

#scrolltop:hover { background-position: 0 -40px; }

.panel-footer {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
/* Конец Подвал*/

/*Блок таблицы*/
.pagination {
	margin: 5px 5px;
}
.panel > .table caption {
	height: 40px;
	padding: 0 0;
}

.panel > .panel-body + .table {
	border-bottom: 1px solid #ddd;
}

td:nth-child(4n), td:nth-child(5n), th, td:first-child {
	text-align: center;
}
td {
	vertical-align:middle;
}
/*Конец блока таблицы*/