/*Глобальные настройки*/
.container {
	width: 100%;
	max-width: 1170px;
	min-width: 430px;
}

.row * {
	font-size: 16px !important;
}

nav {
	font-size: 12px !important;
}

a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.jumbotron {
	padding-top: 15px;
	padding-bottom: 15px;
}

.jumbotron p {
	font-size: 14px;
}
@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.container .jumbotron,
	.container-fluid .jumbotron {
		padding-right: 30px;
		padding-left: 30px;
	}
	.jumbotron h1,
	.jumbotron .h1 {
		font-size: 21px;
	}
}
/* Конец глобальных настроек*/

/*Навигационная панель*/
.font-droid,
.font-sans {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: #c01a32 !important;
	font-weight: 700;
}

.font-sans {
	font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand {
	text-transform: capitalize;
	font-family: 'Lobster', cursive;
	color: #664b00;
	text-align: center;
	padding:9px;
	font-size: 16px;
}

.navbar li:hover {
	background-color: #e7e7e7
}

.top-to-bottom {
	border-width: 0 1px 0 0;
	border-style: solid;
	-webkit-border-image:
	-webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#e7e7e7)) 1 100%;
	-webkit-border-image:
	-webkit-linear-gradient(#999, #e7e7e7) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(#999, #e7e7e7) 1 100%;
	-o-border-image:
	-o-linear-gradient(#999, #e7e7e7) 1 100%;
	border-image:
	linear-gradient(to bottom, #999, #e7e7e7) 1 100%;
}
/* конец болка навигационной панели*/

/*Блок "Как связаться:"*/
.panel-primary {
	max-width: 405px;
	margin: auto;
	margin-bottom: 20px;
}

.btn-sm {
	height: 37px;
	margin-top: 3px;
}

.panel-body p {
	margin-bottom: 0;
}

.phone-content {
	width: 165px;
	text-align: right;
}

.phone-nav {
	width: 127.713px;
	text-align: right;
	margin-top: 5px;
}

.icon-content {
	width: 44px;
}

.small-btn-group {
	display: inline-block;
}
/*Конец болка контактной информации*/

/*Блок "Информация"*/
.panel-info p {
	text-align: justify;
	text-indent: 1.5em;
}

.panel-body {
	text-align: center;

}

.above-table {
	text-align: left;
}
/*Конец блока "Информация"*/

/*Блок "Товары"*/
.col-md-2 {
	padding-left: 6px;
	padding-right: 6px;
}

.panel-body h2 {
	margin-top: 10px;
}

.btn-default {
	margin-bottom: 3px;
	font-weight: 700;
	width: 100%;
	max-width: 200px;
	background: #ddd linear-gradient(#eee, #ccc);
}

/*Конец блока "Товары"*/

/*Подвал*/
#scrolltop-container {
	position:relative;
	width:100%;
	padding:0;
	margin:0;
	border:0;
	height:27px;
}

#scrolltop-container.narrow { 
	background:#fff !important; 
}

#scrolltop {
	display:block;
	background: url('../images/scrolltop.png') 1px 1px no-repeat;
	width:32px;
	height:32px;
	position:absolute;
	top:-25px;
	left:50%;
	margin-left:-22px !important;
	text-indent:-300px;
	overflow:hidden;
	border-radius: 50%;
}

#scrolltop:hover { background-position: 0 -40px; }

.panel-footer {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
/* Конец подвала*/

/*Блок таблицы*/
.pagination {
	margin: 5px 5px;
}

.panel > .table caption {
	height: 40px;
	padding: 0 0;
}

.panel > .panel-body + .table {
	border-bottom: 1px solid #ddd;
}

.column1,
.column8,
.column9 {
	text-align: center;
}

td,
th {
	vertical-align:middle !important;
}

th {
	text-align: center;
}

.column2,
.column3,
.column5,
.column7 {
	display: none;
}

td.column6 {
	text-decoration: underline;
}

.column6 {
	min-width: 90px;
}

.column8 a {
	text-transform: capitalize;
}
/*Конец блока таблицы*/