
a {
font-family: 'Roboto', sans-serif;
font-weight: 700;
}

/*Навигационная панель*/
.navbar li:hover {
background-color: #e7e7e7
}

.logo {			
background-color: none;
font-family: 'Special Elite', cursive;
color: #222;
text-align: center;
padding:9px;
}

.logo:hover {
color: #black;
}

#font-sans a {
font-family: 'Open Sans', sans-serif;
color: #1428a0;
font-weight: 700;
}

#font-droid a {
font-family: 'Droid Sans', sans-serif;
text-transform: uppercase;
color: rgba(192,26,50,1);
font-weight: 700;
}

li button.btn-info {
  margin-top: 5px;
  font-size: 12px;
}
/* конец болка навигационной панели*/

/*Блок контактной информации*/
.btn-success {

}

.panel-title {
	font-size: 16px;
}

.btn-sm {
	font-size: 16px;
	height: 37px;
	margin-top: 3px;
}

.panel-body p {
	margin-bottom: 0;
}


/*Конец болка контактной информации*/

/*Блок контента*/
.panel-info .panel-body {
	text-align: justify;
	font-size: 15px;
}
/*Конец блока контента*/

/*Блок ссылок*/
.col-md-2 {
   padding-left: 6px;
   padding-right: 6px;
}

.panel-body {
	text-align: center;
}

button[onClick*="ricoh"], button[onClick*="sharp"] {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: rgba(192,26,50,1);
}

button[onClick*="samsung"], button[onClick*="hp"] {
	font-family: 'Open Sans', sans-serif;
	color: #1428a0;
	}

.btn-default {
	margin-top: 3px;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	background: #ddd linear-gradient(#eee, #ccc);
;
}
/*Конец блока ссылок*/